@using MvcPaging.Demo.Models
@model IPagedList<Product>
@{
	ViewBag.Title = "Browse all products (ajax)";
}
<h2>@ViewBag.Title</h2>
<div id="gridcontainer">
    @Html.Partial("_ProductGrid", Model)
</div>








